.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.about-descrip-row {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 50px;
}

.about-descrip-container {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}
