.hero-row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-descrip-p {
  font-size: 1.5rem;
}

.hero-descrip-title {
  font-size: 5rem;
}

.home-descrip-text {
  font-size: 1.1rem;
}

.carousel {
  max-width: 800px;
  max-height: 600px;
}

@media screen and (max-width: 768px) {
  .hero-descrip-p {
    font-size: 1.2rem;
  }

  .hero-descrip-title {
    font-size: 3rem;
  }

  .home-descrip-text {
    font-size: 0.9rem;
  }
}
