.card-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
  background-color: rgb(187, 184, 184);
  box-shadow: inset 0 5rem 5rem #fff;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 600;
}
