.card-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: center;
  justify-items: center;
}

.card {
  background-color: rgb(187, 184, 184);
  box-shadow: inset 0 5rem 5rem #fff;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 600;
}

@media screen and (max-width: 475px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .card-title {
    font-size: 1rem;
  }
}
