@media screen and (max-width: 768px) {
  .product-mobile-reverse {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .produt-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
